* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px
}
body {
    font-family: sans-serif;
    --color: rgb(246, 115, 34);
}
nav {
    background-color: var(--color);
    text-align: right;
}
nav li:first-child {
    font-size: 1.2em;
}
nav li {
    display: inline-block;
    padding: 10px;
}
nav li a {
    text-decoration: none;
    color: white;
}
article.welcome {
    background: url("headerback.jpg") no-repeat;
    background-size: contain;
    height: 100vh;
}
.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
}
.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 25%;
    margin: auto;
}
.container h1 {
    color: var(--color);
    font-size: 2em;
}
.container p {
    color: #555555;
    font-size: 1.3em;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: "DIN Alternate";
}
input[type="button"]  {
    background-color: var(--color);
    border-radius: 5px;
    color: white;
    font-size: 1.1em;
    padding: 10px;
    border-style: none;
}

