* {
    margin: 0;
    padding: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    background-image: url('utopia.jpg');
    background-size: cover;
    filter: blur(2px);
}
.message {
    backdrop-filter: blur(2px);
    width: 350px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 2em;
    font-family: sans-serif;
    position: absolute;
    top: 200px;
    left: 100px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
}