@import url('https://fonts.googleapis.com/css?family=Alegreya|Amatic+SC&display=swap');
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    --blue-color: #33baaf;
    --orange-color: #f6af33;
}
body::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}
body::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	background-color: #33baaf;
}
header {
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.8;
}
.logo {
    display: flex;
    align-items: center;
}
.logo img {
    width: 4.5em;
    opacity: 0.9;
}
.logo .name {
    font-family: 'Amatic SC';
    font-size: 2.3em;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--orange-color);
}
.welcome {
    background-image: url('img/bg-header.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.wheel {
    --size: 5em;
    width: var(--size);
    height: var(--size);
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
    position: relative;
    top: calc(var(--size) / 2);
}
.wheel .down {
    width: calc(var(--size) / 4);
    height: calc(var(--size) / 4);
    border-left: medium solid var(--blue-color);
    border-bottom: medium solid var(--blue-color);
    transform: rotate(-45deg);
    position: relative;
    top: calc(var(--size) / 8);
}
.wheel .gear {
    position: absolute;
    width: var(--size);
    height: var(--size);
    --border: 0.3em;
    border: var(--border) dashed white;
    border-radius: inherit;
    box-sizing: content-box;
    top: calc(0em - var(--border));
    transform: rotate(0deg);
}
.wheel:hover .down {
    opacity: 0.5;
}
.wheel:hover .gear {
    animation-name: rotate;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
p {
    font-family: 'Alegreya';
    font-size: 1.2em;
    padding: 0.5em 1em;
}
h1 {
    font-family: 'Amatic SC';
    font-weight: bold;
    text-align: center;
    padding: 0.7em 0;
    line-height: 2.5em;
    z-index: 1;
    position: relative;
}
h1 span:first-child {
    display: block;
    color: var(--blue-color);
    font-size: 2em;
}
h1 span:last-child {
    font-size: 3em;
    display: block;
    color: var(--orange-color);
}
h1 span:first-child::before, h1 span:first-child::after {
    content: ' - ';
}
.ambience {
    background-image: url('img/ambiance.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}
